@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/*
@keyframes moveCircle1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveCircle2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveCircle3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-move-circle-1 {
  animation: moveCircle1 6s infinite ease-in-out;
}

.animate-move-circle-2 {
  animation: moveCircle2 8s infinite ease-in-out;
}

.animate-move-circle-3 {
  animation: moveCircle3 10s infinite ease-in-out;
}

.animate-spin-slow {
  animation: spin 6s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 



 */
 @keyframes moveCircle1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(40px, 40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveCircle2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-40px, 40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveCircle3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(40px, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-move-circle-1 {
  animation: moveCircle1 6s infinite ease-in-out;
}

.animate-move-circle-2 {
  animation: moveCircle2 8s infinite ease-in-out;
}

.animate-move-circle-3 {
  animation: moveCircle3 10s infinite ease-in-out;
}

.animate-spin-slow {
  animation: spin 6s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}